// Common Color

$whiteColor: #ffffff;
$blackColor: #000000;
$lightGrayColor:#dddddd;
$lightGreenColor: #009900;


// Theme Color

$primaryColor: #ff7720;
$lightPrimaryColor: #ffa31a;
$bgLightGrayColor: #f2f2f2;
