@import "../base/color";

/*====================
Blog Area
======================*/


.blog-area {

  .blog {

    .single-blog {
      border: 2px solid $lightGrayColor;
      float: left;
      width: 380px;
      border-radius: 5px;
      margin-right: 30px;
      transition: all 0.3s linear;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        box-shadow: 0 0 20px 5px $lightGrayColor;

        img {
          transform: scale(1.1);
          cursor: pointer;
        }
      }

      .blog-img {
        height: 200px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          transition: all 0.3s linear;
        }

      }

      .blog-content {
        padding: 20px;

        h4 {
          text-transform: capitalize;
          font-size: 26px;
          font-weight: 500;
        }

        p {
          margin: 20px 0;
        }

        a {

          &:hover {
            color: $blackColor;
            border: 1px solid $primaryColor;
          }
        }
      }
    }
  }
}