@import "../base/color";

/*====================
Contact Area
======================*/


.contact-area {
  background-color: $bgLightGrayColor;

  .contact-top{

    .single-address{
      float: left;
      width: 216px;
      margin:0 92px;

      &:hover{
        i,h4,p{
          color: $primaryColor;
        }
      }

      i{
        font-size: 35px;
      }


      h4{
        text-transform: uppercase;
        font-size: 24px;
        margin: 10px 0;
      }
    }
  }

  .contact-bottom{
    margin-top: 50px;

    .contact-form{
      float: left;
      width: 700px;
      margin-right: 20px;


      form{
        input,textarea{
          width: 100%;
          border: 1px solid $lightGrayColor;
          padding: 10px;
          border-radius: 5px;
          margin-bottom: 10px;
          font-size: 18px;


          &:focus{
            box-shadow: 0 0 0 0.15rem rgb(255, 119, 32, 0.3);
          }

        }

        textarea{
          max-width: 100%;
          min-width: 100%;
        }

        .form-btn{
          input{
            width: 49%;
            margin-bottom: 0;
            background: linear-gradient(to right, $lightPrimaryColor 0%, $primaryColor 51%, $lightPrimaryColor 100%);
            background-size: 200% auto;
            color: $whiteColor;
            transition: all 0.3s linear;

            &:hover{
              background-position: right center;
            }

            &[type="submit"]{
              float: right;
            }

            &[type="reset"]{
              float: left;
            }
          }
        }
      }
    }

    .contact-map{
      float:right;
      width: 480px;

      iframe{
        width: 100%;
        height: 454px;
        border: 3px solid $lightGrayColor;
        padding: 3px;
        transition: all .3s linear;

        &:hover{
          border: 3px solid $primaryColor;
        }
      }
    }
  }
}